@charset "utf-8";

body{
  height: 100vh;
  background-color: rgba(126, 125, 140, 0.78);
  overflow-x: hidden;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media screen and (min-width: 800px) {
  .container {
    margin: 1em 2em;
  }
}

.typing-bar {
  position: absolute;
  width: 60rem;
  margin-left: 150px;
}
.input-group {
  position: absolute;
  width: 75rem;
  height: 2rem;
  bottom: 0;
  margin-right: 5rem;
}

.conversations {
  margin-right: 0.1px;
  height: 70vh;
  overflow-y: scroll;
}

.icone {
  display: flex;
  align-items: center;
}

.bot {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-picture {
  display: flex;
  justify-content: flex-end;
}

.username {
  display: flex;
  justify-content: flex-end;
}

.user-text {
  display: flex;
  justify-content: flex-end;
}

#root {
  height: 100vh;
}

.col-2 {
  height: 70vh;
  overflow-y: scroll;
}

.col-2::-webkit-scrollbar {
  width: 8px; 
}

.col-2::-webkit-scrollbar-thumb {
  background-color: #808080; 
  border-radius: 10px; 
}

.col-2::-webkit-scrollbar-track {
  background-color: #212020; 
}

.conversations::-webkit-scrollbar {
  width: 8px; 
}

.conversations::-webkit-scrollbar-thumb {
  background-color: #808080; 
  border-radius: 10px; 
}

.conversations::-webkit-scrollbar-track {
  background-color: #212020; 
}

.card-body img {
  max-width: 50px;
  height: auto;
}